<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <a href="/update_deleted_status">Update Deleted Status</a>
    <table id="dbTable">
        <th>Filename</th><th>Filepath</th><th>Expires At</th><th>Is Deleted</th>
    {% for file in files %}
    <tr><td>{{file[1]}}</td><td>{{file[2]}}</td><td>{{file[3]}}</td><td>{{file[4] == 1}}</td></tr>
    {% endfor %}
    </table>
    <a href="/">Return to Home</a>
</body>
</html>