<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <!-- <a href="/update_deleted_status">Update Deleted Status</a> -->
    <table id="dbTable">
        <th>file_id</th><th>filename</th><th>key</th><th>expires_at</th><th>has_password</th>
    {% for m in metadatas %}
    <tr><td>{{m[0]}}</td><td>{{m[1]}}</td><td>{{m[2]}}</td><td>{{m[3]}}</td><td>{{m[6] is not none}}</td></tr>
    {% endfor %}
    </table>
    <a href="/">Return to Home</a>
</body>
</html>